.file-input__label {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 15px;
  padding: 19px 50%;
  background-image: linear-gradient(to right bottom, #531874, #411a69, #30195d, #211750, #141442);
  box-shadow: 0px 0px 2px rgb(0 0 0 / 25%);
  }
  
  .file-input__label svg {
    height: 16px;
    margin-right: 4px;
  }
  .spanCss{

  }
  .bi-file-earmark-play-fill::before {
    content: "\f35a";
    padding: 3px;
    margin-right: 3px;
}
.hideMe{
  display: none;
}
.videoDisc{
  position: absolute;
  padding: 10px;
  width: 94%;
  bottom: 0;
  margin: 0% 3%;
  color: white;
  background: #000000eb;
  z-index: 10;
  display: none;
}
.ShowVideo:hover .videoDisc{display: block;}
#discText::-webkit-scrollbar {
  display: none;
}
.lengthChange{
  position: absolute;
  right: 23px;
  top: 24px;;
 color: #130202bf;
}

.GoBackKnow{
  position: absolute;
  right: 3%;
  top: -2%;
  background: none;
  border: none;
  font-weight: 700;
  font-size: 26px;
  color: white
}
.firstModalCss:hover{

}
.GoBackKnow :hover{
  margin-right: 10px;

}
.GoBackKnow{
  position: absolute;right: 3%;top: -2%;background: none;border: none;font-weight: 700;font-size: 26px;color: white
}
/* .postReels:hover>span{
  letter-spacing: 2px;


} */

.letter {
  font-family: inherit;
  font-size: 64px;
  font-weight: bolder;
  text-shadow: 0.03em 0.03em 0.02em #777;
  will-change: transform;
  cursor: default;
  
  display: inline-block;
  transition: transform 0.2s ease;
}

/* This is all we need :D */
.letter:hover {
  transform: scaleX(0.8) scaleY(1.2);
}